@charset "UTF-8";

@media screen and (min-width: 768px) {
    .card-img {
        width: 200px;
        height: 200px;
    }
}

@media screen and (min-width: 375px) and (max-width:400px) {
    .conteiner {
        padding: 14px 20px;   
    }
}

@media (max-width: 320px) {
    .conteiner {
        padding: 5px;
    }

    .card-img {
        width: auto;
        /* height: 145px; */
    }
}

@media (max-width: 315px) {
    header {
        padding: 25px 7px;
    }

    .conteiner {
        padding: 3px;
    }

    .card-product {
        width: 150px;
    }

}

@media (max-width: 310px) { /*Galaxy Fold*/
    .conteiner {
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }
}