@charset "UTF-8";


@media screen and (min-width: 1119px) {
    .conteiner-product { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
        justify-items: center;
    }

    .title {
        padding: 20px 150px;
    }
}

@media screen and (min-width: 768px) {
    .card-img {
        width: 200px;
        height: 200px;
    }

    .conteiner-ifon {
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 

    fieldset {
        padding: 0;
    }

    .conteiner-input {
        display: flex;
    } 

    .btn-submit {
        border-radius: 0px 5px 5px 0px;
        width: 100px;
        margin: 0;
    }

    .input-email {
        width: 250px;
        border-radius: 5px 0px 0px 5px;
    }
}

@media screen and (min-width: 375px) and (max-width:400px) {
    .conteiner-product {
        padding: 14px 20px 35px;   
    }

    .card-product {
        padding: 4px;
    }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .conteiner-product {
        padding: 14px 5px 35px;
    }

    .card-img {
        width: auto;
    }

    .conteiner-ifon, 
    .conteiner-icon {
        padding: 20px 12px  10px;
    }
    
}

@media (max-width: 328px) {
    .card-product {
        padding: 0;
    }
}

@media  (max-width: 319px) {
    header {
        padding: 25px 7px;
    }

    .conteiner-product {
        padding: 14px 3px 35px;
    }

    .card-product {
        width: 150px;
    }

    .card-img {
        width: 150px;
    }

} 

@media (max-width: 310px) { /*Galaxy Fold*/
    .conteiner-product {
        flex-direction: column;
        align-items: center;
        row-gap: 25px;
    }
}